################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
server/WebServer/bin/
server/WebServer/bin/Debug
server/WebServer/obj/Debug
server/packages/
server/jira/obj/
server/.vs/
server/jira/bin/
server/jira/packages/
server/WebServer/bin/Debug/RemoteInvoker.application
server/WebServer/bin/Debug/RemoteInvoker.application
